{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Grow Your Business With Us</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>We provides businesses with expert social media management and advertising services to help them build and grow their brand, engage with their target audience, and increase their online presence and sales.  </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="contact.html" class="btn-get-started">Get Started</a>
            
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why Choose Us</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('{% static 'img/why-us-bg.jpg' %}')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Let's grow your business together</h3>
                   
                    <p>We can help businesses increase their online visibility, engagement, and conversions, while also providing valuable insights and analytics to measure the effectiveness of their campaigns and make data-driven decisions for future marketing efforts.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3"> We offer, the quality of the work, </h3>
                    
                    <p>We serve good design and aesthetics of their social media posts, the relevance and engagement of their content, the targeting and reach of their advertising campaigns, and the overall impact on the client's business goals and objectives.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Good customer service and communication skills</h3>
                    
                    <p> Khatree Media with strong customer service and communication skills can foster a positive and productive relationship with their clients, leading to better results and a more successful partnership.</p>
                  </div>
                </div><!-- End slide item -->

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>

        </div>

        <div class="row g-5">

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-amd" style="color: #f57813;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Ads running and lead generation</a></h4>
              <p class="description">Lead generation ads are specialized digital ads that allow you to collect data about potential customers who clicked on an ad you strategically placed on a platform.
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-stack" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Social Media Management</a></h4>
              <p class="description">Social media management is the ongoing process of creating and scheduling content designed to grow and nurture an audience across social media platforms</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-search"style="color: #d90769;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">SEO</a></h4>
              <p class="description">Getting traffic from free, organic, editorial, or natural search results in search engines. It aims to improve your website's position in search results pages</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-window"style="color: #15bfbc;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Website Development</a></h4>
              <p class="description">The tasks associated with creating, building, and maintaining websites and web applications that run online on a browser</p>
            </div>
          </div><!-- End Service Item -->

          
        </div>

      </div>
   
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Khatree Media</h3>
            <p> Interested parties can call us and learn more about the agency's services and expertise.As well as they can chat on whatsapp in below number
          .</p>
            <h1 class="cta-btn" >9812857936</h1>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

   
       <!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Testimonials</h2>

    </div>

    <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

    
          {% for f in feed %}
      
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              {{f.feedback}}
            </p>
            <div class="profile mt-auto">
              <h3>{{f.fullname}}</h3>
              <h4>{{f.position}}</h4>
            </div>
          </div>
        </div><!-- End testimonial item -->

       {% endfor%}
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->



  </main><!-- End #main -->

{% endblock %}